body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #36393f;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
    margin: 0.5rem 0 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2rem;
    color: #b9bbbe;
}

button {
    background-color: #7289da;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    border: none;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #677bc4;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

@media screen and (max-width: 768px) {
    body {
        width: 80%;
    }
}
